html {
  scroll-behavior: smooth;
}

body {
  font-family: system-ui;
  color: #0d0d0d;
  background-color: #0d0d0d;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
url("https://github.com/extrememine1/dataAPI/blob/main/mcaurora.png?raw=true");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

section {
  width: 100%;
  box-sizing: border-box;
  padding: 2rem;
  padding-top: 100px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#startOverlay {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.4);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
  z-index: 9999;
  user-select: none;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  transition: opacity 0.6s ease;
}

#startOverlay.fade-out {
  opacity: 0;
  pointer-events: none;
}

.overlay-text {
  padding: 20px 40px;
  border-radius: 12px;
  font-family: system-ui;
  color: #c4c5c4;
  animation: fadeInOut 5s ease infinite;
}

@keyframes fadeInOut {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.5; }
}

#blurOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  transition: backdrop-filter ease 0.5s, -webkit-backdrop-filter ease 0.5s;
}

#blurOverlay.blur {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

#snow-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: -1;
  overflow: hidden;
}

.snowflake {
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  box-shadow: 0 0 20px white;
}

@keyframes fall {
  0% { transform: translateY(-100px); }
  95% {
    opacity: opacity;
    box-shadow: 0 0 20px white;
  }
  100% {
    transform: translateY(110vh);
    opacity: 0;
    box-shadow: 0 0 0px white;
  }
}

.navbar {
  position: fixed;
  top: 1vw;
  left: 50%;
  transform: translateX(-50%);
  width: 50vw;
  height: 70px;
  background-color: rgba(15, 15, 15, 0.7);
  backdrop-filter: blur(10px);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  z-index: 10;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(20, 20, 20);
  border-radius: 12px;
  transition: height 0.3s ease, transform 0.3s ease, background-color 0.3s ease, padding 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
}

.navbar:hover {
  border: 1px solid rgba(120, 120, 120);
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.5);
}

.navbar.shrink {
  height: 60px;
  transform: translateX(-50%) translateY(-5px);
  padding: 0 1.5rem;
  background-color: rgba(15, 15, 15, 0.85);
}

.nav-links {
  display: flex;
  gap: 3rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links li a {
  text-decoration: none;
  color: rgba(250, 250, 250, 0.9);
  font-weight: bold;
  font-size: 1.2rem;
  transition: color 0.3s ease, text-shadow 0.3s ease, font-size 0.3s ease;
}

.nav-links li a:hover {
  text-shadow: 0 0 10px white;
  font-size: 1.4rem;
}

.nav-links li a:active {
  font-size: 1.2rem;
  transition: font-size 0.1s ease;
}

.linksframe {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  list-style: none;
  text-decoration: none;
  padding: 10px 0px;
  padding-bottom: 40px;
  margin: 0;
}

.linksframe li a {
  display: block;
  background: rgba(15, 15, 15, 0.8);
  border: 1px solid rgba(50, 50, 50);
  border-radius: 12px;
  font-weight: bold;
  padding: 1rem 1rem;
  text-align: center;
  color: white;
  text-decoration: none;
  margin: 0px 0px;
  box-sizing: border-box;
  transition: border 0.3s ease;
}

.linksframe li a:hover {
  border: 1px solid rgba(160, 160, 160);
}

.start-frame {
  background-color: rgba(15, 15, 15, 0.9);
  background-image: 
    linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 85%
    ),
    linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: auto, 40px 40px, 40px 40px;
  background-repeat: repeat;

  opacity: 1;
  border: 1px solid rgba(20, 20, 20);
  border-radius: 12px;
  padding: 0vw 20px;
  z-index: 2;
  margin: 12.5vw auto;
  height: auto;
  width: 50vw;
  box-shadow: 0 0 10px white, 0 0 20px deepskyblue;
  position: relative;
  overflow: visible;
  animation: pulseGlow 6s linear infinite;
}

@keyframes pulseGlow {
  0% { box-shadow: 0 0 10px #ffffff, 0 0 20px deepskyblue; }
  33% { box-shadow: 0 0 20px cyan, 0 0 40px #ba38ff; }
  66% { box-shadow: 0 0 20px #ba38ff, 0 0 40px #0fff53; }
  100% { box-shadow: 0 0 10px #ffffff, 0 0 20px deepskyblue; }
}

.frame {
  display: block;
  background: rgba(15, 15, 15, 0.8);
  border: 1px solid rgba(20, 20, 20);
  border-radius: 12px;
  padding: 20px 40px;
  margin-bottom: 2vw;
  width: auto;
  text-align: left;
  color: white;
  box-shadow: 0 0 4px rgba(40, 40, 40);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  transition: border ease 0.3s, box-shadow ease 0.3s;
  z-index: 2;
}

.main-frame {
  width: 50vw
}

.project-frame {
  width: 25vw;
}

.frame:hover {
  border: 1px solid rgba(80, 80, 80);
  box-shadow: 0 0 8px rgba(80, 80, 80);
}

#main-project-frame {
  display: flex;
  height: auto;
  width: 100%;
  flex-direction: row;
  gap: 0vw 5vw;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.line {
  width: auto;
  height: 2px;
  background-color: rgba(80, 80, 80);
  margin: 2rem 0;
}

.title {
  color: white;
  text-align: left;
  z-index: 2;
  padding: 0vw 1vw;
  font-size: 3vw;
  font-weight: bold;
  line-height: 0.5;
  display: block;
}

.frame-title {
  font-size: 2rem;
}

.project-title {
  font-size: 1.5rem
}

.name-highlight {
  background: linear-gradient(to right, #ba38ff, #0fff53, cyan);
  font-size: 4vw;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: text-shadow 0.3s ease;
}

.name-highlight:hover {
  text-shadow:
    0 0 8px rgba(186, 56, 255, 0.3),
    0 0 12px rgba(15, 255, 83, 0.3),
    0 0 16px rgba(0, 255, 255, 0.3);
}

.highlight {
  background: linear-gradient(45deg, #01F2FF, #01AEFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: text-shadow 0.3s ease;
}

.highlight:hover {
  text-shadow:
    0 0 8px rgba(1, 242, 255, 0.3),
    0 0 16px rgba(1, 174, 255, 0.3);
}

.start-description {
  color: white;
  text-align: left;
  z-index: 2;
  margin: 1.5vw 1vw;
  font-size: 1.5vw;
  font-weight: 400;
}

.description {
  z-index: 2;
  font-size: 1.5rem;
  font-weight: 300;
}

.project-description {
  font-size: 1.25rem
}

.cursor {
  color: white;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.portfolio-button {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  color: white;
  background: rgba(15, 15, 15, 1);
  font-size: 1.25vw;
  z-index: 2;
  padding: 12px 20px;
  margin: 1vw 0.5vw;
  border-radius: 8px;
  font-weight: bold;
  display: inline-block;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2);
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.small-button {
  font-size: 1.1rem;
  padding: 12px 12px;
  margin: 0rem 0;
}

.portfolio-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 200%;
  width: 200%;
  background: linear-gradient(45deg, rgba(0, 0, 0, 1) 25%, rgba(126, 126, 126, 1));
  transform: translateX(-100%) skewX(45deg);
  transition: transform 0.6s ease;
  z-index: -1;
}

.portfolio-button:hover::before {
  transform: translateX(0);
}

.portfolio-button:hover {
  transform: scale(1.08);
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.5);
}

.portfolio-button .arrow {
  display: inline-block;
  margin-left: 8px;
  transition: transform 0.3s ease;
}

.portfolio-button:hover .arrow {
  transform: translateX(7px);
}

.footer {
  background-color: black;
  border: 1px solid rgba(30, 30, 30, 1);
  border-radius: 6px;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.github-icon {
  color: white;
  font-size: 2rem;
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.3);
  transition: text-shadow 0.3s ease;
}

.github-icon:hover {
  text-shadow: 0 0 12px rgba(255, 255, 255, 0.8)
}

.footer-item {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0;
}

.footer-middle {
  position: absolute;
  left: 50%;
  transform: translateX(-60%);
  color: white;
  font-size: 1rem;
  font-weight: 300;
}

@media (max-width: 1100px) {
  .title {
    font-size: 2rem;
    padding: 0 25px;
    line-height: 1.4;
  }

  .name-highlight {
    display: block;
    font-size: 3rem;
  }

  .start-description {
    font-size: 1.25rem;
    margin: 1rem 0;
    padding-left: 30px;
  }

  .portfolio-button {
    font-size: 1rem;
    padding: 10px 10px;
    padding-bottom: 10px;
    margin: 20px 25px;
  }

  .nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .nav-links li a {
    font-size: 1rem;
  }

  .nav-links li a:hover {
    font-size: 1.3rem;
  }

  .nav-links li a:active {
    font-size: 1rem;
  }
  
  #main-project-frame {
    flex-direction: column;
    gap: 2rem; /* smaller vertical gap */
  }

  .project-frame {
    max-width: 95vw; /* expand to fit mobile screen */
  }
}

@media (max-width: 688px) {
  .footer-middle {
    white-space: normal;
    text-align: center;
    width: 100%;
    transform: translateX(-50%) translateY(20px);
  }
}

@media (max-width: 450px) {
  .portfolio-button {
    transform: translateX(-15px);
  }
}
